@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	
	var image = Model.Value<IPublishedContent>("Picture");
}

<html>
    <head>
        <title>Diviso: Home</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-witdh, initial-scale=1, user-scalable=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Home.css"/>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-10 col-md-6"> 
                <div class="left-col">
                    <h1 class="title1">@Model.Title1</h1>
                    <h3 class="title2">@Model.Title2</h3>
                    <div class="paragraf">
                        <p>@Model.Text1</p>  
                    </div>
                    <div class="paragraf">
                        <p>@Model.Text2</p>
                    </div>
                    <div class="paragraf">
                        <p>@Model.Text3</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6">
                <div class="right-col">
                    <div class="picture">
                        <img src="@image.Url()">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>